
PG_USERNAME="{{ item.pg_username }}"
{% if item.pg_password is defined %}
export PGPASSWORD="{{ item.pg_password }}"
{% endif %}

PG_HOSTNAME="{{ item.pg_hostname }}"
PG_PORT="{{ item.pg_port }}"

DO_BACKUP_GLOBALS={% if item.do_backup_globals|default(true) %}true{% else %}false{% endif %}

OUTPUT_DIR_BASE="{{ item.output_dir | default(postgres_backup_default_output_dir + '/' + item.name) }}"
DATE_FORMAT="{{ item.date_format | default(postgres_backup_default_date_format) }}"
